<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
  <script defer src="/scripts/userAuth.js"></script>
  <title>Art Kitchen</title>
</head>

<body class="text-center" id="home">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">ArtKitchen</h3>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <br><br><br>
      <h1 class="cover-heading">Feed your creativity.</h1>
      <h4 class="lead">We'll give you the ingredients for a tasty new creation!</h4>
      <h6 class="small">Use our word generator to help break through your creative block.</h6>
      <p class="lead">
        <form id="userForm">
          <div class="form-row">
            <div class="col">
              <input id="username-input" type="username" name="username" class="form-control new" placeholder="username">
            </div>
            <div class="col">
              <input type="password" name="password" class="form-control new" placeholder="password">
            </div>
            <button type="submit" class="ml-1 btn btn-md btn-secondary" id="signup-submit">Sign Up!</button>
          </div>
        </form>
        <br>


        <section class="row">
          <div class="col" id="ahaa">
            <p class="">Already have an account?</p>
            <a href="#" class="btn btn-sm btn-secondary" id="login">Log in</a>
          </div>
        </section>


    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <!-- <p>Created by <a href="https://git.generalassemb.ly/akempel/art-kitchen/tree/master">Chyrule</a> - <a href="https://twitter.com/#">@anna</a> and <a href="https://twitter.com/ldbean">@ldbean</a>.</p> -->
      </div>
    </footer>
  </div>





  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>