    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
  /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(2, 38, 65);
  color: rgb(255, 255, 255);
  
  
  
}
#home {
  background-image: url("/images/calum-lewis-rkT_TG5NKF8-unsplash.jpg");
  background-color: rgb(58, 55, 55);
  background-blend-mode: overlay;
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(16, 16, 16, 0.5);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.5);
}
.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.invisible {
  visibility: hidden;
}

/*
 * Profile
 */

#user-profile {
  width: 800px;
  text-align: left;
  background-color: #fff;
  color: black;
  padding: 20px;
  margin-left: 35px;
  margin-bottom: 30px;
}
#username{
  font-size: 42px;
  margin-top: -20px;
}
#profile-image {
  height: 150px;
  width: 150px;
  background-size: cover;
}
aside {
  margin: 0 auto;
}
main {
  margin: 40px;

}
.btn-group {
  position: absolute;
  right: 0;
 top: 0;
  opacity: 50%;
}
.btn-group:hover{
  opacity: 100%;
}
.thumb {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 2px;
  border: 2px solid white;
  border-radius: 2%;
}
.card {
  color: #333;
  margin: 15px;
}
article {
margin-bottom: 12px;
 }
.author {
color: rgb(86, 29, 29);
position: absolute;
top: 4px;
left: 8px;
font-size: 18px;
opacity: 50%;
text-shadow: none;
}
.title {
  margin-top: 20px;
  font-size: 18px;
}
.description {
 margin-top: 50px;
}
.body {
  
}
#image-url {
  width: 375px;
  height: 375px;
}

.art-post, .text-post{
  max-width: 350px;
  min-width: 350px;
}
.description {
  font-size: 14px;
  margin-bottom: 50px;
}
.tag {
  font-size: 14px;
}
.fauna-tag {
  background-color: rgb(242, 201, 201);
}
.flora-tag {
  background-color: rgb(224, 245, 220);
}
.mat-tag {
  background-color: rgb(253, 255, 220);
}
.mach-tag {
  background-color: rgb(191, 216, 247);
}
.tags {
  width:375px;
  position: absolute;
  bottom: 5px;
  display: table;
  left: 13px;
}

 /*
  * Kitchen
  */
#kitchen {
  background-image: url("/images/woodbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#generator {
   background-image: url("/images/ingredients-bg.png");
   width: 500px;
   height: 500px;
  background-size: contain;
  margin-bottom: 100px;
}
#ingredients {
  max-width: 450px; 
  padding: 30px;
  margin-left: 15px;
  mix-blend-mode: multiply;
  
}
#ingredients  p {
 margin-left: 80px;
  color: #333;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  margin-bottom: -8px;
  margin-top: -5px;
  opacity: 100%;
}
#form-toggle {
 display: block;
 margin: 10px;
 margin-top: 50px;
}
p {
  text-shadow: none;
}
#postForm{
  max-width: 500px;
  margin: auto;
}
#textform {
  display: none;
}

/*
 * Feed
 */
#feed-body {
  background-image: url("/images/feed-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(77, 77, 77);
  background-blend-mode: overlay;
 
}

#posts {
  /* width: 1200px; */
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}