    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    /*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(255, 255, 255);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(16, 16, 16, 0.5);
}
#home {
  background-image: url("/images/calum-lewis-rkT_TG5NKF8-unsplash.jpg");
  background-blend-mode: overlay;
  background-size: cover;
}
.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.invisible {
  visibility: hidden;
}

/*
 * Profile
 */
#user-profile {
  width: 200px;
  
  background-color: #fff;
  color: black;
  padding-top: 20px;
  margin-left: 35px;
  margin-bottom: 30px;
}
main {
  margin: 40px;

}
.thumb {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 2px;
  border: 2px solid white;
  border-radius: 2%;
}
.card {
  color: #333;
}

section  {
 margin-left: 20px;
 
}
 article {
margin-bottom: 12px;
 }

#image-url {
  width: 300px;
  height: 300px;
}

.art-post, .text-post{
  max-width: 300px;
  min-width: 300px;
}
.description {
  font-size: 14px;
}
.tag {
    font-size: 14px;
    margin: 0 auto;
    
}

.post-menu {}

 /*
  * Posts / Generator
  */
#generator {
   background-image: url("/images/ingredients-bg.png");
   width: 400px;
   height: 400px;
  background-size: contain;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}